<div class="content" role="main">

  <mat-toolbar color="primary">
    <span>Sober 0.1</span>
    <span class="toolbar-spacer"></span>
    <a (click)="openDialog()" mat-icon-button aria-label="Add button">
      <mat-icon>add</mat-icon>
    </a>
  </mat-toolbar>

  <img src="assets/cedars.png" alt="treatment-centre" class="banner-image" />
  <mat-accordion multi="false">
  <mat-expansion-panel  *ngFor="let person of people; let i = index" style="list-style-type:none;">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="name">{{ person.name }}</div>
        <div class="days">{{ person.getDays() }} days</div>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="edit-area">
      <mat-form-field appearance="outline">
        <input matInput type="text" [(ngModel)]="person.name" (change)="save()">
        <mat-hint>Name</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput [matDatepicker]="picker" [(ngModel)]="person.startDate" (ngModelChange)="save()">
        <mat-hint>Sober since</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <p></p>
      <button mat-fab color="primary" aria-label="Del" (click)="delete(person.name)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>
  </mat-accordion>

  <!-- <router-outlet></router-outlet>-->