<h1 mat-dialog-title>Add a person</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="person.name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="picker" [(ngModel)]="person.startDate">
    <mat-label>Sober since</mat-label>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="person" cdkFocusInitial>Ok</button>
</div>